.teamCreateBody {
  width: 700px;
  margin: 0 auto;
}

.teamCreateContainer {
  margin: 20px 0;
}

.concept {
  width: 700px;
  height: 200px;
}

td {
  width: 350px;
}

td textarea {
  width: 350px;
}

.teamCreateButton {
  text-align: center;
}
