.teamCreateBody {
  width: 700px;
  margin: 0 auto;
}

.teamCreateContainer {
  margin: 20px 0;
}

#teamConcept {
  width: 670px;
}

.compePartPerform {
  margin-bottom: 10px;
}
.compePartPerform span {
  margin-right: 10px;
}

.partYear {
  width: 100px;
}

.compeName {
  width: 400px;
}

.teamCreateButton {
  text-align: center;
}
