main {
  flex: 1;
  padding: 20px;
  min-width: 550px;
}

/* メインの上部のスタイル */
#signUpContents {
  height: 200px;
}
#signUpContents button {
  height: 50px;
  width: 150px;
}

/* メインの中部のスタイル */
#labelContents {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#labelTitle {
  font-size: 70px;
  letter-spacing: 10px;
}

#labelExplanation {
  letter-spacing: 3px;
}

/* メインの下部のスタイル */
#startUpContent {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startUp {
  display: inline-block;
  height: 50px;
  width: 200px;
}
