/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* ▼　リセットCSS（ブラウザ標準のスタイルをリセット）　▼ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ▲　リセットCSS（ブラウザ標準のスタイルをリセット）　▲ */

body {
  display: flex;
}

/* サイドバー全体のスタイル */
#sideBar {
  min-width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

/* サイドバーのメニュー部分のスタイル */
#roar,
#home,
#team,
#chat,
#news,
#profile,
#setting,
#teamCreate,
#teamSearch {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/* チームを作る、チームを探す部分のスタイル */
#teamCreate,
#teamSearch {
  /* スライドインのアニメーション */
  animation: SlideIn 0.4s;
}

/* SlideInのアニメーション設定 */
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* サイドバーのフッター部分のスタイル */
footer {
  margin-top: auto;
}
footer ul li {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

/* メイン全体のスタイル */

main {
  flex: 1;
  padding: 20px;
  min-width: 550px;
  height: 100vh;
}

/* メインの上部のスタイル */
#signUp_contents {
  height: 25%;
}
#signUp_contents button {
  height: 50px;
  width: 150px;
}

/* メインの中部のスタイル */
#label_contents {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#label_title {
  font-size: 70px;
  letter-spacing: 10px;
}

#label_explanation {
  letter-spacing: 3px;
}

/* メインの下部のスタイル */
#startUp_content {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startUp {
  display: inline-block;
  height: 50px;
  width: 200px;
}
