<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello</title>
    <meta charset="utf-8" />
    <!-- ７～１４行がReactとReactDOM用スクリプト -->
    <script
      src="webjars/react/16.5.2/umd/react.production.min.js"
      th:src="@{/webjars/react/16.5.2/umd/react.production.min.js}"
    ></script>
    <script
      src="webjars/react-dom/16.5.2/umd/react-dom.production.min.js"
      th:src="@{/webjars/react-dom/16.5.2/umd/react-dom.production.min.js}"
    ></script>
    <!-- babelをhtmlファイルで動かす場合に必要なスクリプト -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js"></script>
  </head>
  <body>
    <h1>Hello!sub!!６1</h1>
    <form action="/aaa" method="POST">
      <input type="text" name="name" placeholder="名前" />
      <button type="submit">ログイン</button>
    </form>
    <p th:text="${message}"></p>

    <!-- rootをHello, world!に書き換えるサンプル -->
    <script type="text/babel">
      ReactDOM.render(<h1>Hello, world!</h1>, document.getElementById("root"));
    </script>

    <p id="root">a</p>
  </body>
</html>
